/* App.css */
body, html, #root {
  height: 100%;
  margin: 0;
  transition: direction 0.3s ease;
}

#root {
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-content {
  flex-grow: 1;
}
/* RTL layout adjustments */
.rtl {
  direction: rtl;
}

.rtl .space-x-8 > :not(:last-child) {
  margin-left: 2rem; /* Adjust the spacing in RTL */
  margin-right: 0;
}

.ltr {
  direction: ltr;
}
